@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Maven+Pro&display=swap');

header, footer {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 18px;
    background-color: #184059;
    border: 2px solid #184059;
    border-radius: 8px;
}

img, h2 {
    margin: 8px 16px;
}

h1 {
    margin-top: 32px;
    font-family: Arvo, Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 19px black;
}

h2 {
    text-shadow: 0 0 19px black;
}

.shadow {
    box-shadow: 3px 3px 15px 4px #2b2b2b;
}

footer {
    flex-direction: column;
}

hr {
    margin: 0;
}

h2, p {
    color: white;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
}

li {
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
    font-size: larger;
}

.hintQuote {
    margin-bottom: 32px;
    color: #595959;
    font-style: italic;
}

#updated {
    font-size: medium;
    color: yellow;
}