header, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 26, 96);
}

header h1, header h2, footer p {
    color: white;
    text-align: center;
    margin: 0;
}

header a {
    color:gainsboro;
    text-decoration: none;
}