/* HEADER */
#header {
    padding: 16px 32px;
}

nav {
    display: flex;
    align-items: center;
}

.navigation li:first-child {
    display: none;
}

.navigation li {
    display: block;
}

/* MAIN */
main {
    padding: 0 32px 16px 32px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    /* grid-template-rows: repeat(3, 1fr); */
}

#event, #weather, #join {
    grid-column: 1/2;
}

#event {
    grid-row: 1/1;
}

#weather {
    grid-row: 2/2;
}

#join {
    grid-row: 3/4;
}

#hero, #news {
    grid-column: 2/4;
}

#hero {
    grid-row: 1/3;
}

picture {
    height: 100%;
}

picture img {
    height: 100%;
    width: 100%;
}

#news {
    grid-row: 3/3;
}

#spot3 {
    display: block;
}

#spotlights {
    grid-column: 4/4;
    grid-row: 1/4;
    display: grid;
}

.spotlight {
    width: auto;
    margin: 4px 0;
}

.fa-tree {
    font-size: 102px;
    text-shadow: -3px 0 #f7bf4f, 0 3px #f7bf4f, 3px 0 #f7bf4f, 0 -3px #f7bf4f;
}

/* FOOTER */
#top, .bottom {
    padding: 16px 32px;
}