@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Gothic&family=Volkhov&display=swap');

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 16px;
    background-color: #271801;
}

#header {
    display: flex;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 0.95rem;
}

h1, h2, p{
    padding: 0 8px;
}

h1, h2 {
    font-family: Volkhov, Georgia, 'Times New Roman', Times, serif;
    color: #fff3bf;
}

#currentDate {
    color:#fff3bf
}

ul {
    display: flex;
    list-style: none;
}

li {
    font-family: 'League Gothic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px;
}

a, li {
    text-decoration: none;
    color: #f7bf4f;
}

.navigation {
    padding: 0;
    margin: 0;
    font-size: 36px;
    /* position: fixed;
    height: 50vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(39, 24, 1, 0.75); */
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

#menubtn {
    align-self: flex-end;
}

.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 50vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(39, 24, 1, 0.75);
}

.responsive li{
    display: block;
}

#closing {
    display: none;
}

.responsive > li > a > #icon {
    display: none;
}

.responsive > li > a > #closing {
    display: flex;
}

.date {
    display: flex;
    justify-content: center;
}

/* MAIN SECTION */
main {
    display: flex;
    flex-direction: column;
}

section {
    background-color: darkgray;
    margin: 4px 0;
}

#spotlights {
    padding: 8px;
}

.spotlight {
    border: 1px solid #271801;
}

/* FOOTER SECTION */
footer {
    background-color: #271801;
    color: #fff3bf;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8px 0; 
}

h3 {
    font-family: Volkhov, Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0;
}

footer p {
    margin: 0 0 16px 0;
}

.bottom {
    padding: 16px 0;
    border-top: 1px solid #fff3bf;
}

.bottom p {
    margin: 0;
}