@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Gothic&family=Volkhov&display=swap');

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 16px;
    background-color: #271801;
    padding-bottom: 8px;
}

.banner {
    display: none;
}

.active {
    display: block;
    padding: 16px 8px;
    background-color: #fff3bf;
    color:#271801;
    font-size: 20px;
    text-align: center;
}

#bannerBtn {
    width: 32px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#heading {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#logoHead {
    display: flex;
}

h1 {
    font-size: 1.2rem;
    margin: 8px 0;
}

h2 {
    margin: 0;
    font-size: 0.85rem;
}

h1, h2, h3, p{
    padding: 0 8px;
}

h1, h2, h3 {
    font-family: Volkhov, Georgia, 'Times New Roman', Times, serif;
    color: #fff3bf;
}

#currentDate {
    color:#fff3bf
}

#social {
    display: flex;
    align-items: center;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 15px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 15px;
}

.fa-facebook:hover, .fa-linkedin:hover {
    font-size: 1.2rem;
}

ul {
    display: flex;
    list-style: none;
}

a {
    font-family: 'League Gothic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px;
}

a, li {
    text-decoration: none;
    color: #f7bf4f;
}

li a:hover{
    color:#f7bf4f;
    font-size: 38px;
    text-decoration: underline;
    /* background-color: rgba(39, 24, 1, 0.80); */
}

.navigation {
    padding: 0;
    margin: 0;
    font-size: 36px;
    /* position: fixed;
    height: 50vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(39, 24, 1, 0.75); */
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
    padding: 8px;
}

#menubtn {
    align-self: flex-end;
}

#menubtn a{
    margin: 0;
    padding: 0;
}

.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(39, 24, 1, 0.75);
    z-index: 1;
}

.responsive li{
    display: block;
}

#closing {
    display: none;
}

.responsive > li > a > #icon {
    display: none;
}

.responsive > li > a > #closing {
    display: flex;
}

.date {
    display: flex;
    justify-content: center;
    background-color: rgba(247, 191, 79, 0.20);
    margin: 8px;
}

/* MAIN SECTION */
main {
    display: flex;
    flex-direction: column;
}

section {
    background-color: rgba(39, 24, 1, 0.25);
    text-align: center;
    margin: 4px 0;
    color: #271801;
}

section h2 {
    text-shadow: -1px 0 #271801, 0 1px #271801, 1px 0 #271801, 0 -1px #271801;
    color:#fff3bf;
    font-size: 1.5rem;
    margin: 8px 0;
}

#hero {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-image: url("../images/900-city-small.jpg");
    background-repeat: no-repeat; */
    height: 200px;
    max-width: 1015px;
}

/* PICTURE */
/* picture {
    width: 100%;
} */
picture img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
}
.top-center {
    position: absolute;
    top: 8px;
    width: 100%;
    object-fit: cover;
}

.bot-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

#event h3 {
    color:#271801;
    font-size: 1rem;
    margin: 0;
    padding: 8px;
}

button {
    align-self: flex-end;
    background-color: #f7bf4f;
    color: #2b9149;
    border-radius: 20px;
    border: 2px solid #2b9149;
    width: 218px;
    height: 55px;
    font-weight:900;
    font-size:1.15rem;
}

button:hover {
    width:234px;
    height: 60px;
}

#weather {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

#forecast {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 32px;
}

#forecast p, #forecast-text {
    font-size: 50px;
}

#forecast-text {
    display:flex;
    justify-content: flex-end;
    border-bottom: 2px solid #271801;
    margin: 0 32px;
}

.fa-sun {
    font-size: 102px;
    text-shadow: -3px 0 #f7bf4f, 0 3px #f7bf4f, 3px 0 #f7bf4f, 0 -3px #f7bf4f;
}

#wind {
    padding: 8px;
    display: flex;
    justify-content: space-around;
}

#wind-text p, #wind-value p{
    margin: 0;
    font-size: 1.1rem;
}

#wind-text {
    text-align: right;
}

#join {
    display: none;
}

#join-us {
    width: 95%;
    margin-top: 16px;
}

#spotlights {
    padding: 8px;
}

.spotlight {
    padding: 8px;
    border: 1px solid #271801;
}

.fa-truck-moving {
    font-size: 102px;
    text-shadow: -3px 0 #f7bf4f, 0 3px #f7bf4f, 3px 0 #f7bf4f, 0 -3px #f7bf4f;

}

.spotlight p{
    font-size: 1rem;
    margin: 0;
}

.spotlight .quote {
    /* width: 80%;
    border-bottom: 2px solid #271801; */
    padding-bottom: 8px;
    /* margin: 4px 16px; */
    font-size: 1.25rem;
    font-style: italic;
}

.fa-pen-to-square {
    font-size: 102px;
    text-shadow: -3px 0 #f7bf4f, 0 3px #f7bf4f, 3px 0 #f7bf4f, 0 -3px #f7bf4f;

}

hr {
    margin: 8px auto 0 auto;
    width: 90%;
    border-top: 2px solid #271801;
}

#spot3 {
    display: none;
}

/* FOOTER SECTION */
footer {
    background-color: #271801;
    color: #fff3bf;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8px 0; 
}

#address h3 {
    font-family: Volkhov, Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0;
}

footer p {
    margin: 0 0 16px 0;
}

#bold {
    font-size: 1.25rem;
}

.bottom {
    padding: 16px 0;
    border-top: 1px solid #fff3bf;
}

.bottom p {
    margin: 0;
}

.divider {
    display: none;
}