@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Gothic&family=Volkhov&display=swap');

body {
    margin: 0;
}

nav {
    background: #271801;
}

ul {
    margin: 0;
    display: flex;
    align-items: flex-end;
}

li {
    list-style: none;
    padding: 0 16px;
    font-family: 'League Gothic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

a {
    margin: 0;
}

a:link {
    text-decoration: none;
    color: #f7bf4f;
}

a:visited {
    color: #f7bf4f;
}

#logo, ul {
    padding: 0;
}

h1, h2 {
    font-family: Volkhov, Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: 900;
}
