@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Gothic&family=Volkhov&display=swap');

body {
    margin: 0;
}

nav {
    padding: 0;
    background: #271801;
}

ul {
    display: flex;
    align-items: flex-end;
}

#links {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
}

li {
    list-style: none;
    padding: 0 16px;
    font-family: 'League Gothic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

a:link {
    text-decoration: none;
    color: #f7bf4f;
}

a:visited {
    color: #f7bf4f;
}

a:hover {
    color: #7ead0b;
}

#logo, ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
}

img {
    height: 102px;
}

h1, h2 {
    font-family: Volkhov, Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Lato, Arial, Helvetica, sans-serif;
    margin-left: 8px;
}

.bold {
    font-weight: 900;
}

#color {
    width: 45%;
}

#brown {
    background-color: #271801;
    color: white;
}
