@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Gothic&family=Volkhov&display=swap');

ul {
    display: flex;
}

li {
    list-style: none;
}

h1, h2 {
    font-family: Volkhov, Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: 900;
}
