@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Maven+Pro&display=swap');

header, footer {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 18px;
    background-color: steelblue;
    border: 2px solid steelblue;
    border-radius: 8px;
}

h1 {
    font-family: Arvo, Georgia, 'Times New Roman', Times, serif;
}

.shadow {
    box-shadow: 3px 3px 15px 4px #2b2b2b;
}

footer {
    flex-direction: column;
}

h2, p {
    color: white;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
}

p {
    font-size: larger;
}

.hintQuote {
    color: darkgrey;
    font-style: italic;
}

#updated {
    font-size: medium;
    color: yellow;
}