

header, footer {
    justify-content: center;
    display: flex;
    padding: 18px;
    background-color: steelblue;
}

footer {
    flex-direction: column;    
}

h2, p {
    color: white;
}

p {
    font-size: larger;
}

#updated {
    font-size: medium;
    color: yellow;
}