

header, footer {
    display: flex;
    padding: 18px;
    background-color: steelblue;
}

h2, p {
    color: white;
}

p {
    font-size: larger;
}

#updated {
    font-size: medium;
    color: yellow;
}